.missions-profile-table {
  width: 40vw;
  border-collapse: collapse;
  border: 1px solid black;
  margin: 20px;
  padding: 10px;
}

h2 {
  margin: 20px;
}

.missions-profile-table th,
.missions-profile-table td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
}
